#--constraint https://raw.githubusercontent.com/apache/airflow/constraints-3.0.6/constraints-3.10.txt

# ===================================================================
# Core ML & Data Manipulation
# ===================================================================
# Main ML framework with explicit CUDA support and its core dependency
tensorflow[and-cuda]==2.20.0
numpy==1.26.4

# Data manipulation and scientific computing
pandas==2.1.4
scikit-learn==1.7.1

# For loading word embeddings and plotting evaluation results
gensim==4.3.3
matplotlib==3.10.6

# ===================================================================
# MLOps - Orchestration, Versioning & Experiment Tracking
# ===================================================================
# Orchestrator and its essential provider for Postgres
# The constraint file above will manage its dependencies (like Flask, SQLAlchemy)
apache-airflow[postgres]==3.1.0

# ===================================================================
# Application - API & Dashboard
# ===================================================================
# Web API framework and its database ORM.
Flask==2.2.5
Flask-SQLAlchemy==2.5.1
SQLAlchemy==1.4.54

# Data and model version control, with S3 remote storage support
dvc==3.63.0
dvc-s3==3.2.2

# Experiment tracking
mlflow[auth]==3.4.0

# Dashboarding framework and plotting library
gunicorn==23.0.0
streamlit==1.50.0
plotly==6.3.1

# Web requests and HTML parsing for the scraper
aiobotocore==2.24.1
botocore==1.39.11
s3fs==2025.7.0
psycopg2-binary==2.9.10
requests==2.32.5
beautifulsoup4==4.13.4
playwright==1.55.0
pydantic==2.11.7

# Date/time handling, especially in Airflow DAGs
pendulum==3.1.0

# For loading .env files into environment variables
python-dotenv==1.1.1