name: Deploy to AWS EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Deploy to EC2 instance
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USERNAME }}
          key: ${{ secrets.EC2_PRIVATE_KEY }}
          script: |
            cd /home/ubuntu/sentiment_transformer

            git pull origin main

            echo "DOMAIN_NAME=${{ secrets.DOMAIN_NAME }}" >> .env
            echo "POSTGRES_DB_APP=${{ secrets.POSTGRES_DB_APP }}" >> .env
            echo "POSTGRES_USER_APP=${{ secrets.POSTGRES_USER_APP }}" >> .env
            echo "POSTGRES_PASSWORD_APP=${{ secrets.POSTGRES_PASSWORD_APP }}" >> .env
            echo "POSTGRES_HOST_APP=${{ secrets.POSTGRES_HOST_APP }}" >> .env
            echo "POSTGRES_PORT_APP=${{ secrets.POSTGRES_PORT_APP }}" >> .env
            echo "APP_DATABASE_URL=${{ secrets.APP_DATABASE_URL }}" >> .env
            echo "MLFLOW_TRACKING_USERNAME=${{ secrets.MLFLOW_TRACKING_USERNAME }}" >> .env
            echo "MLFLOW_TRACKING_PASSWORD=${{ secrets.MLFLOW_TRACKING_PASSWORD }}" >> .env
            echo "MLFLOW_FLASK_SERVER_SECRET_KEY='${{ secrets.MLFLOW_FLASK_SERVER_SECRET_KEY }}'" >> .env
            echo "MLFLOW_TRACKING_URI=${{ secrets.MLFLOW_TRACKING_URI }}" >> .env
            echo "API_BASE_URL=${{ secrets.API_BASE_URL }}" >> .env
            echo "AIRFLOW__API__BASE_URL=${{ secrets.AIRFLOW__API__BASE_URL }}" >> .env
            echo "AIRFLOW__API__SECRET_KEY='${{ secrets.AIRFLOW__API__SECRET_KEY }}'" >> .env
            echo "AIRFLOW_CONN_APP_POSTGRES_CONN=${{ secrets.AIRFLOW_CONN_APP_POSTGRES_CONN }}" >> .env
            echo "DVC_S3_URL=${{ secrets.DVC_S3_URL }}" >> .env
            echo "AWS_ACCESS_KEY_ID=${{ secrets.AWS_ACCESS_KEY_ID }}" >> .env
            echo "AWS_SECRET_ACCESS_KEY=${{ secrets.AWS_SECRET_ACCESS_KEY }}" >> .env
            echo "AWS_DEFAULT_REGION=${{ secrets.AWS_DEFAULT_REGION }}" >> .env
            echo "STRATEGIA_INVEST_API_USERNAME=${{ secrets.STRATEGIA_INVEST_API_USERNAME }}" >> .env
            echo "STRATEGIA_INVEST_API_PASSWORD=${{ secrets.STRATEGIA_INVEST_API_PASSWORD }}" >> .env
            echo "STRATEGIA_INVEST_API_BASE_URL=${{ secrets.STRATEGIA_INVEST_API_BASE_URL }}" >> .env
            
            echo ">>> .env file created successfully on EC2 instance."
            cat .env

            echo ">>> Stopping old containers (optional but recommended)..."
            docker compose -f docker-compose.yml down --remove-orphans

            echo ">>> Building and starting new containers using start.sh..."
            chmod +x ./start.sh
            ./start.sh --build --force-recreate

            echo ">>> Deployment finished!"